<!-- https://codepen.io/onluiz/pen/eLgOKj?editors=1111 -->
<div class="variants">
    <div class='file'>
      <label for='input-file'>
        <i class="material-icons">cloud_queue
</i>Select a file
      </label>
      <input id='input-file' type='file' />
    </div>

    <div class='file file--upload'>
      <label for='input-file'>
        <i class="material-icons">cloud_upload</i>Upload
      </label>
      <input id='input-file' type='file' />
    </div>

    <div class='file file--uploading'>
      <label for='input-file'>
        <i class="material-icons">cloud_upload</i>Uploading
      </label>
      <input id='input-file' type='file' />
    </div>

    <div class='file file--success'>
      <label for='input-file'>
        <i class="material-icons">cloud_done</i>Success
      </label>
      <input id='input-file' type='file' />
    </div>

    <div class='file file--danger'>
      <label for='input-file'>
        <i class="material-icons">cloud_off</i>Error
      </label>
      <input id='input-file' type='file' />
    </div>
    
    <div class='file file--disabled'>
      <label for='input-file'>
        <i class="material-icons">lock</i>Disabled
      </label>
      <input id='input-file' type='file' />
    </div>
  </div>
