.card-stacked {
    position: relative;
    display: inline-block;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
    display: table;
    overflow:auto;
    height: max-content;

  }
  .card5 {
    /* margin: 0; */
    padding: 1em;
    padding-bottom: 5rem;
    width: 90vw;
    /* height: 100%; */
    background-color: white;
    /* position: relative; */
    z-index: 1;
    box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    border: 1px solid var(--color-secondary);
    display: table;
    /* overflow: auto; */
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  } 
  .lower-card {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    border: 1px solid var(--color-secondary);
  }
  .lower-card:nth-of-type(1) {
    top: 6px;
    left: 7px;
    z-index: -1;
  }
  .lower-card:nth-of-type(2) {
    top: 12px;
    left: 14px;
    z-index: -2;
    box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.1);
  }

  /* Timeline css */
  .mapWrapper {
    /* display: table-row; */
    /* display: table-row;
    text-align: right;
    margin: auto;
    position:inherit;
    overflow-wrap: break-word; */
    /* width: 100%; */
    /* left: 50%; */
    /* top: -100%; */
    transform: translateX(5%);
  }
  .mapWrapper .row {
    position: relative;
    width: 90%;
    left: 0;
    height: 7em;
  }
  .mapWrapper .row .itemBar {
    position: relative;
    display: inline-block;
    width: 33.3333333333%;
    height: 0.25em;
    margin-top: 6.875em;
    background: var(--color-primary);
  }
  .mapWrapper .row .itemBar .itemInfo {
    position: absolute;
    width: 100%;
    bottom: 0.5em;
    text-align: center;
  }
  .mapWrapper .row .itemBar .itemInfo:after {
    content: "";
    position: absolute;
    width: 0.5em;
    height: 0.25em;
    background: var(--color-primary);
    border-radius: 3em 3em 0 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.25em;
    transition: width 0.2s ease-in, height 0.2s ease-in;
  }
  .mapWrapper .row .itemBar:hover .itemInfo:after {
    width: 2.5em;
    height: 0.25em;
    transition: width 0.2s ease-in, height 0.2s ease-in;
  }
  .mapWrapper .row .itemBar .itemDate {
    position: absolute;
    width: 100%;
    font-size: 1.25em;
    top: 0.25em;
    text-align: center;
    text-shadow: 1px 1px 2px var(--text-primary-color);
  }
  .mapWrapper .row:nth-child(2n) .itemBar:first-child:after {
    content: "";
    position: absolute;
    width: 1.75em;
    height: 6.75em;
    right: 100%;
    top: 0;
    border-radius: 7em 0 0 7em;
    border: 0.25em solid var(--color-primary);
    border-right: unset;
  }
  .mapWrapper .row:nth-child(2n+1) .itemBar:last-child:after {
    content: "";
    position: absolute;
    width: 1.75em;
    height: 6.75em;
    left: 100%;
    top: 0;
    border-radius: 0 7em 7em 0;
    border: 0.25em solid var(--color-primary);
    border-left: unset;
  }
  .mapWrapper .row:last-child .itemBar:after {
    display: none;
  }