<!-- https://codepen.io/angus/pen/gWGpOR -->
<meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="top-nav">
    <div>
      Fulcrum
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li>Course List</li>
      <li>Training Record</li>
      <li>Change Password</li>
      <li>Report a Problem</li>
      <li>Logout</li>
    </ul>
  </section>

 